<div class="container">
    <div class="row">
        <div class="two columns"></div>
        <div class="eight columns">
            <h1>Workout Tracker</h1>
        </div>
        <div class="two columns"></div>
    </div>
</div>