/* Shared
**************************************/
body {
    padding-top: 5em;
}

.centered-text {
    text-align: center;
}

.hidden-text {
    visibility: hidden;
}

/* Sections
*************************************/
.section {
    padding: 1em 0;
}

/* Inputs
************************************/

input[type="date"] {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

/* reset-text
***********************************/
#reset-text {
    color: red;
}

/* Buttons
***********************************/

#reset-button, .delete-button {
    background-color: #D9534F;
    color: #FFF;
    border: none;
}

#reset-button:hover, .delete-button:hover {
    background-color: #b74542;
    color: #fff;
}

.edit-button {
    background-color: #F0AD4E;
    color: #fff;
    border: none;
}

.edit-button:hover {
    background-color: #ba873f;
    color: #fff;
}

#save-button {
    background-color: #5CB85C;
    color: #fff;
    border: none;
}

#save-button:hover {
    background-color: #4f9b4f;
    color: #fff;
}

.disabled-button {
    background-color: #F7F7F9 !important;
    color: #626466 !important;
    border-color: #F7F7F9 !important;
}